.main-grid {
  display: grid;
}

.player {
  display: none;
}
.canvas {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  grid-row: 1/-1;
  grid-column: 1/-1;
  z-index: 3;
}
.canvas-dummy {
  display: grid;
  grid-template-rows: 50vh 50vh;
  grid-template-columns: 1fr 1fr 1fr;
}
.top-left {
  grid-row: 1/2;
  grid-column: 1/2;
  padding: 20px;
  z-index: 4;
  align-self: start;
  justify-self: start;
}
.exit-butt {
  color: red;
  font-size: 64px;
}
.center-butts {
  z-index: 4;
  padding: 60px;
  grid-row: 2/3;
  grid-column: 2/3;
  align-self: end;
  justify-self: center;
}
.start-butt {
  color: red;
  font-size: 64px;
}
.hud {
  z-index: 4;
  padding: 20px;
  grid-row: 1/2;
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
}
.remaining {
  color: red;
  font-size: 64px;
}
.countdown{
  color: red;
  font-size: 64px;
}
.left-butts {
  z-index: 4;
  padding: 20px;
  grid-row: 2/3;
  grid-column: 1/2;
  align-self: center;
  justify-self: start;
}
.right-butts {
  z-index: 4;
  padding: 20px;
  grid-row: 2/3;
  grid-column: 3/4;
  align-self: center;
  justify-self: end;
}
.left-pointer {
  color: red;
  font-size: 64px;
}
.right-pointer {
  color: red;
  font-size: 64px;
}
@media (max-width: 800px ) {
  .left-pointer {
    color: green;
    font-size: 32px;
  }
  .right-pointer {
    color: green;
    font-size: 32px;
  }
  .countdown {
    color: green;
    font-size: 32px;
  }
  .remaining {
    color: green;
    font-size: 32px;
  }
  .center-butts {
    padding-right: 0px;
    padding-left: 0px;
  }
  .start-butt {
    color: green;
    font-size: 32px;
  }
  .exit-butt {
    color: green;
    font-size: 32px;
  }
}

