<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="100"
   height="100"
   viewBox="0 0 26.458333 26.458334"
   version="1.1"
   id="svg8"
   inkscape:version="0.92.3 (2405546, 2018-03-11)"
   sodipodi:docname="apeture01.svg">
  <defs
     id="defs2" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="5.6"
     inkscape:cx="36.963074"
     inkscape:cy="46.545704"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     units="px"
     showguides="false"
     inkscape:guide-bbox="true"
     inkscape:lockguides="false"
     inkscape:window-width="1920"
     inkscape:window-height="1145"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1">
    <sodipodi:guide
       position="9.2131696,13.229167"
       orientation="0,1"
       id="guide819"
       inkscape:locked="false" />
    <sodipodi:guide
       position="13.22769,13.472785"
       orientation="1,0"
       id="guide823"
       inkscape:locked="false" />
    <sodipodi:guide
       position="2.9712709,13.229171"
       orientation="-0.8660254,0.5"
       id="guide827"
       inkscape:locked="false"
       inkscape:label=""
       inkscape:color="rgb(0,0,255)" />
    <sodipodi:guide
       position="7.8922563,21.752794"
       orientation="0,1"
       id="guide829"
       inkscape:locked="false"
       inkscape:label=""
       inkscape:color="rgb(0,0,255)" />
    <sodipodi:guide
       position="17.734492,21.752794"
       orientation="0.8660254,0.5"
       id="guide831"
       inkscape:locked="false"
       inkscape:label=""
       inkscape:color="rgb(0,0,255)" />
    <sodipodi:guide
       position="19.702009,8.1501117"
       orientation="-0.8660254,0.5"
       id="guide833"
       inkscape:locked="false"
       inkscape:label=""
       inkscape:color="rgb(0,0,255)" />
    <sodipodi:guide
       position="7.8923176,4.7055479"
       orientation="0,1"
       id="guide835"
       inkscape:locked="false" />
    <sodipodi:guide
       position="7.8922563,4.705548"
       orientation="0.8660254,0.5"
       id="guide837"
       inkscape:locked="false"
       inkscape:label=""
       inkscape:color="rgb(0,0,255)" />
  </sodipodi:namedview>
  <metadata
     id="metadata5">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Layer 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(0,-270.54165)">
    <circle
       style="fill:#00ff00;fill-opacity:1;fill-rule:nonzero;stroke:#000000;stroke-width:0.5942806;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path855"
       cx="-130.42989"
       cy="252.36658"
       r="12.840706"
       transform="rotate(-30)" />
    <path
       sodipodi:type="star"
       style="fill:#bebec1;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.29926345;stroke-linecap:butt;stroke-linejoin:miter;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
       id="path817"
       sodipodi:sides="6"
       sodipodi:cx="12.813434"
       sodipodi:cy="283.77081"
       sodipodi:r1="9.8422318"
       sodipodi:r2="8.5236225"
       sodipodi:arg1="0"
       sodipodi:arg2="0.52359878"
       inkscape:flatsided="true"
       inkscape:rounded="0"
       inkscape:randomized="0"
       d="m 22.655665,283.77081 -4.921115,8.52363 H 7.8923178 l -4.9211159,-8.52363 4.9211159,-8.52362 H 17.73455 Z"
       transform="matrix(0.64839323,-0.37435001,0.37435001,0.64839323,-101.57866,104.72752)"
       inkscape:transform-center-x="-2.7027642e-06" />
    <path
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.19809353px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 6.5774992,287.61031 -1e-7,-14.73767"
       id="path841"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.19809353px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 6.5774982,280.24142 19.749014,272.63685"
       id="path843"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.19809353px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 12.959052,276.55703 13.230593,7.63869"
       id="path845"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.19809353px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 19.326942,280.24941 v 14.72188"
       id="path847"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.19809353px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="m 19.326943,287.61829 -12.7494433,7.3609"
       id="path849"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
    <path
       style="fill:none;fill-rule:evenodd;stroke:#000000;stroke-width:0.19809353px;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
       d="M 12.959051,291.2948 0.19577682,283.92591"
       id="path851"
       inkscape:connector-curvature="0"
       sodipodi:nodetypes="cc" />
  </g>
</svg>
