{% extends "base.html" %}

{% block content%}


<div id="container">

    <h1>Fuck yeah, bitches!</h1>
    <p class="server-status">Server status</p>

    <video playsinline autoplay></video>
    <button>Take snapshot</button>
    <canvas></canvas>

    <p>Draw a frame from the video onto the canvas element using the <code>drawImage()</code> method.</p>

    <p>The variables <code>canvas</code>, <code>video</code> and <code>stream</code> are in global scope, so you can
        inspect them from the console.</p>


</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script src="{% static 'scripts/main.js' %}"></script>

{% endblock %}
