{% extends "base.html" %}

{% block content%}


<div class="main-grid">
    <video id="vid" video playsinline autoplay></video>
    <div class="flash" id="flash"></div>
    <div class="booth" id="booth">
      <div class="countdown" id="countdown"></div>
      <div class="remaining" id="remaining"></div>
      <button id="start" onClick="startCountdown()">Start</button>
      <canvas class="canvas"></canvas>
    </div>
    <div class="top">
      <div class="hero">
        <h1>GoBooth.IO</h1>
        <h2>The Photobooth web app</h2>
        <button id="camerabutt" onClick="loadCamera()">Load Camera</button>
      </div>
      <div class="color-block"></div>
      <div class="hero2">
        <div class="example"><img src="/media/example.jpg"/></div>
        <div class="example2"><img src="/media/example2.jpg"/></div>
      </div>
      <div class="cta cta1">
        <p class="server-status">Server status</p>
      </div>
      <div class="tutorial">
        <p>1. Press load Camera to begin.</p>
        <p>2. Allow Camera (Usually the front facing camera for mobile devices.)</p>
        <p>3. Click START and have fun!</p>
      </div>
    </div>
 


</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
<script src="{% static 'scripts/main.js' %}"></script>

{% endblock %}
