{% extends "base.html" %}

{% block content%}


<div class="main-grid">

<div class="bg-dark"> 
bg-dark 
</div>
<div class="bg-mid">
bg-mid
</div>
<div class="bg-light"> 
bg-light 
</div>
<div class="text-light"> 
text-light 
</div>
<div class="text-mid">
text-mid
</div>
<div class="one-light">
one-light
</div>
<div class="one-dark"> 
one-dark 
</div>
<div class="two-light">
two-light
</div>
<div class="two-dark">
two-dark
</div>
<div class="three-light">
three-light
</div>
<div class="three-dark">
three-dark
</div>
<div class="four-light">
four-light
</div>
<div class="danger-light">
danger-light
</div>
<div class="danger-dark">
danger-dark
</div>
<div class="warn-light">
warn-light
</div>
<div class="warn-dark">
warn-dark
</div>


</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/connected.css' %}">


{% endblock %}
