{% extends "base.html" %}

{% block content%}


<div class="fucker" id="grid">
  <div class="lil-fucker">
    <div class="strip-code">
      <h1>Enjoy!</h1>
    </div>
    <img class={% if strip.orientation == "H" %}"imv"{% elif strip.orientation == "V"%}"imh"{% endif %} src="{{ strip.strip_half.url }}"/>
    <div class={% if strip.orientation == "H" %}"print-v"{% elif strip.orientation == "V"%}"print-h"{% endif %}>
      <p>Thank you for using GoBooth!</p>
      <p>If you wish to get a <strong>free print</strong> visit:</p>
      <p><strong>Beaux Arts Fine Art Materials</strong></p>
      <p>2285 Highway 101</p>
      <p>Suite H</p>
      <p>Florence OR 97439</p>
      </br>
      <a href="https://goo.gl/maps/4thJzSoLBk62">
      <button id="directions" class="directions">Get Directions</button>
      </a>
      <h2>Print ID: </h2>
      <code>{{ strip.strip_code }}</code>
    </div>
    <div class={% if strip.orientation == "H" %}"dl-v"{% elif strip.orientation == "V"%}"dl-h"{% endif %}>
      <a href="/download/{{ strip.strip_code }}">
      <button id="dl-strip" class="butt-dl">Download and Share!</button>
      </a>
      <a href="/">
      <button class="butt-retry">Retry</button>
      </a>
    </div>
  </div>
</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/lobby.css' %}">

{% endblock %}
