{% extends "base.html" %}

{% block content%}


<div class="main-grid">

<div class="canvas-dummy">
  <!--<img class="img-overlay" src="/media/greetings_from.png" />-->
  <div class="top-left">
    <button id="exit-full" onClick="exitFull()" class="exit-butt">X</button>
  </div>
  <div class="hud">
  <div class="remaining">1</div>
  <div class="countdown">5</div>
  </div>
  <div class="left-butts">
  <div class="left-pointer"><</div>
  </div>
  <div class="center-butts">
  <button id="fullscreen" onClick="fullscreen()" class="start-butt">Fuck</button>
  </div>
  <div class="right-butts">
  <div class="right-pointer">></div>
  </div>
  <canvas class="canvas"></canvas>
</div>
<button id="camerabutt" onClick="startCamera()">Start</button>
<video class="player"></video>
<div class="strip"></div> 


</div>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/postcard.css' %}">
<script src="{% static 'scripts/postcard.js' %}"></script>

{% endblock %}
